<div class="container my-2">
  <h1>Your bookings</h1>
  <div class="list-group">
    <% @bookings.each do |booking| %>
      <% duration = booking.end_date - booking.start_date + 1 %>
      <%= link_to product_path(booking.product), class: "list-group-item list-group-item-action card-blue", aria_current: "true" do %>
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1"><%= booking.product.name %></h5>
          <p class='booking-tag'><strong><%= booking.status %></strong></p>
        </div>
        <p class="mb-1">Booked from <%= booking.start_date %> until <%= booking.end_date %></p>
        <p class="mb-1">¥ <%= booking.product.rental_price_day %> x <%= duration.to_i %> days = <strong>¥ <%= booking.product.rental_price_day * duration %></strong></p>
        <small><%= booking.product.category %></small>
      <% end %>
    <% end %>
    <div class="pag-bar mt-3 d-flex justify-content-center">
      <%#== pagy_bootstrap_nav(@pagy) %>
    </div>
  </div>
</div>
