
<div class="d-flex justify-content-around m-6 p-6">
  <%= link_to products_path(filter: 'cameras'), class: 'btn-icon hvr-underline-from-center' do %>
    <div class="box"><i class="fa-solid fa-camera-retro"></i>
      <div class = "category_name">Filming</div>
    </div>
  <% end %>
  <%= link_to products_path(filter: 'clothes'), class: 'btn-icon hvr-underline-from-center' do %>
    <div class="box"><i class="fa-solid fa-shirt"></i>
      <div class = "category_name">Clothes</div>
    </div>
  <% end %>
  <%= link_to products_path(filter: 'appliances'), class: 'btn-icon hvr-underline-from-center' do %>
    <div class="box"><i class="fa-solid fa-blender-phone"></i>
      <div class = "category_name">Appliances</div>
    </div>
  <% end %>
  <%= link_to products_path(filter: 'jewelry'), class: 'btn-icon hvr-underline-from-center' do %>
    <div class="box"><i class="fa-solid fa-gem"></i>
      <div class = "category_name">Jewelry</div>
    </div>
  <% end %>
  <%= link_to products_path(filter: 'sports'), class: 'btn-icon hvr-underline-from-center' do %>
    <div class="box"><i class="fa-solid fa-baseball-bat-ball"></i>
      <div class = "category_name">Sports</div>
    </div>
  <% end %>
  <%= link_to products_path(filter: 'outdoors'), class: 'btn-icon hvr-underline-from-center' do %>
    <div class="box"><i class="fa-sharp fa-solid fa-campground"></i>
      <div class = "category_name">Camping</div>
    </div>
  <% end %>
  <%= link_to products_path(filter: 'events'), class: 'btn-icon hvr-underline-from-center' do %>
    <div class="box"><i class="fa-solid fa-cake-candles"></i>
      <div class = "category_name">Events</div>
    </div>
  <% end %>
  <%= link_to products_path(filter: 'transportation'), class: 'btn-icon hvr-underline-from-center' do %>
    <div class="box"><i class="fa-solid fa-bicycle"></i>
      <div class = "category_name">Transportation</div>
    </div>
  <% end %>
  <%= link_to products_path(filter: 'tools'), class: 'btn-icon hvr-underline-from-center' do %>
    <div class="box"><i class="fa-solid fa-hammer"></i>
      <div class = "category_name">Tools</div>
    </div>
  <% end %>
  <%= link_to products_path(filter: 'baby'), class: 'btn-icon hvr-underline-from-center' do %>
    <div class="box"><i class="fa-solid fa-baby-carriage"></i>
      <div class = "category_name">Baby Supplies</div>
    </div>
  <% end %>
</div>
