<div data-controller="navbar" data-action="scroll@window->navbar#stick">
  <div class="navbar navbar-expand-sm navbar-dark bg-dark navbar-lewagon px-3 sticky" data-navbar-target="bar">
    <%= link_to "#", class: "navbar-brand" do %>
      <i class="fa-solid fa-handshake-simple"></i> <strong>Gear</strong>Share
    <% end %>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <% if user_signed_in? %>
          <li class="nav-item active">
            <%= link_to "Home", root_path, class: "nav-link" %>
          </li>
          <li class="nav-item active">
            <%= link_to "New Product", new_product_path, class: "nav-link" %>
          </li>
          <li class="nav-item dropdown pr-3">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            My Account
          </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <%= link_to "My Bookings", bookings_path, class: "dropdown-item" %>
              <%= link_to "My Product Bookings", owners_bookings_path, class: "dropdown-item" %>
              <%= link_to "Messages", products_path, class: "dropdown-item" %>
              <li><hr class="dropdown-divider"></li>
              <%= link_to "Log out", destroy_user_session_path, data: { turbo_method: "delete" }, class: "dropdown-item" %>
            </ul>
          </li>
          <%= image_tag "https://ca.slack-edge.com/T02NE0241-U023W9B11CH-87d2e1927a7e-192", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
