<div class="container">
  <h1>Add a new product</h1>
  <%= simple_form_for @product do |f| %>
    <div class="form-inputs">
      <%= f.input :name %>
      <%= f.input :description %>
      <%= f.input :rental_price_day %>
      <%= f.input :category, collection: Product.categories.keys %>
      <%= f.input :photos, as: :file, input_html: { multiple: true } %>
    </div>
    <div class="row py-4">
    <div class="d-flex justify-content-between pb-4">
      <div class="form-actions">
        <%= f.button :submit, class: "btn" %>
      </div>
      <div>
        <%= link_to "Back to products", products_path, class: "btn" %>
      </div>
    </div>
    </div>
  <% end %>
</div>
